<head>
  <title>Monitor</title>
</head>


<body>

<meta http-equiv="refresh" content="30">
  
  <h1>Monitor</h1>
  {{> info}}

  <ul style="list-style-type:none">
    <li>Uptime: <span id="log">
      </span>
    </li>
  </ul>

</body>


<template name="info">
  <h2>Sensor Readings</h2>
  <ul style="list-style-type:none">
    {{#each helpers}}
    <li>Reading1: {{reading1}} </li>
    <li>Reading2: {{reading2}} </li>
    <li>Reading3: {{reading3}} </li>
    <li>Reading4: {{reading4}} </li>
    <li>Reading5: {{reading5}} </li>
    {{/each}}
  </ul>
</template>



